<div *ngIf="tipoMsg; else sucesso">
        <h1 mat-dialog-title class="title">DADOS INVALIDOS!</h1>
        <mat-card-subtitle class="subtitle">  Você preencheu um ou mais campos com um valor acima do permitido:</mat-card-subtitle>
      <div mat-dialog-content class="mat-typography">

        <p *ngFor="let msg of data.msgs; let i=index">
        {{i+1}} - {{msg}} <br>
        </p>

      </div>
      <div mat-dialog-actions  align="center" class="closeModal">

        <button id="buttonClose" class="light-button" mat-raised-button color="warn" (click)="closeModal()" >Corrigir</button>
      </div>
</div>

<ng-template #sucesso>

<div mat-dialog-content>
  <p>
    Resgate efetuado com sucesso! <br>
  </p>

</div>
<div mat-dialog-actions  align="center" class="success">

  <button mat-raised-button class="light-button" color="primary" (click)="success()">Novo Resgate</button>
</div>
</ng-template>
