table{
  width: 100%;
  margin-top: auto;
}

a{
  display: flex;
  align-items: center;
  text-decoration: none;
}


.edit{
  margin-top: 10px;

}

.investment {
  color: gray;
}

.edit > i{
  color: #d9cd26;
}

.delete > i{
  color: #e35e6b;
}
