<h1> Dados dos Investimentos</h1>

<div style="display: flex;">
<mat-card class="investment">

        <mat-card-title> <i class="material-icons">
          person
        </i> Nome </mat-card-title>
        <mat-card-subtitle> {{investment?.nome}} </mat-card-subtitle>
</mat-card>

<mat-card class="investment">
<mat-card-title>  <i class="material-icons">
  insert_chart
</i> Objetivo </mat-card-title>
        <mat-card-subtitle> {{investment?.objetivo}} </mat-card-subtitle>
</mat-card>

<mat-card class="investment">
  <mat-card-title> <i class="material-icons">
    attach_money
  </i> Saldo Total </mat-card-title>
          <mat-card-subtitle> {{investment?.saldoTotal | currency: 'BRL'}} </mat-card-subtitle>
  </mat-card>
</div>


<h1>Resgate</h1>

<mat-card>
  <mat-card-title> Ações </mat-card-title>
  <form [formGroup]="formularioResgate">


    <table>
      <th> Ação </th>
      <th> Saldo Acumulado </th>
      <th> Valor a resgatar </th>



      <tr *ngFor="let acaoCalculada of acoesCalculadas; let i = index">
        <td> {{acaoCalculada?.nome }} </td>
        <td> {{acaoCalculada?.saldoAcumulado | currency: 'BRL' }} </td>
        <td>
          <div>
            <input [formControlName]="acaoCalculada?.id">
            <div class="text-danger">
              <div *ngIf="formularioResgate.get(acaoCalculada?.id).errors">Valor de resgate máximo não permitido!</div>
            </div>
          </div>
        </td>
      </tr>

    </table>
</form>

<button mat-raised-button (click)="submitForm()" color="primary">
  Resgatar
</button>


<button mat-raised-button (click)="cancel()">
  Cancel
</button>


</mat-card>


