.investment{

  flex: 1 1 auto;
}
table{
  border-style: dashed;
  width: 100%;
  margin-top: auto;
}

table > td {
  text-align: right;
}

table > th {
  text-align: left;
}

button {
  align-items: center;
  margin: 20px 15px 0px 0px;
  align-self: flex-end;
  float: right;
}

.text-danger{
  color: red;
  text-decoration: solid;
  font-size: small;
}

mat-dialog-container#modal-component {
  border: 3px solid #262626;
  border-radius: 11px;
  background-color: #1a1a1a;
}
